*{
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    color: rgb(231, 204, 143);
}

nav .active {
    background-color: #4CAF50;
}


[class*="bg__"] {
  height: 700px;
  width: 100%;
  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

}

.bg__bar {
  background-image: url(
    ../assets/city.jpg
  );
  /*transform: translateZ(-1px) scale(1); */
  /*what does 2 do that one can not!!!*/

}

.bg__foo {
  background-image: url(
    ../assets/bnw.png
  );
  /*transform: translateZ(-1px) scale(2);*/

}

.section1 {
  background-color: white;
  height: 600px;
  width: 100%;
}

.section1 h2{
    padding: 20px;
    text-align: center;
    color: gold;
}

.section1 .img-circle {
    border-radius: 50%;
    height: 300px;
}

.section1 p{
    padding-left: 50px;
    padding-right: 50px;
}

.section1 .button{
    padding-top: 90px;
}



.ba__first{
  background-image: url(
    ../assets/sec.png
  );
  /*transform: translateZ(-1px) scale(1); */
  /*what does 2 do that one can not!!!*/

}

.ba__second{
  background-image: url(
    ../assets/first.png
  );
  /*transform: translateZ(-1px) scale(2);*/

}

.section2{
    height: 600px;
    transform: translateZ(-1px) scale(1);
}

.section2 .img-circle {
    border-radius: 50%;
    height: 300px;
}

.section2 h2{
    padding-top: 50px;
    padding-bottom: 75px;
}

.section2 .img-circle-to {
    border-radius: 50%;
    height: 250px;
}
.section4{
    background-image: url(../assets/soft_kill.png);
    width: 100%;
    height: 224px;
    transform: translateZ(-1px) scale(1);
}

.section4 h2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section4 p{
    padding-bottom: 50px;
}

/* Dropdown Button */
.section2 .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.section2 .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.section2 .dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.section2 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
/*.section2 .dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
.section2 .dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.section2 .dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}
